{% extends "global/Page.html" %}
{% load otree %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}

{% block styles %}
    <link href="{% static 'self_assessment/css/style_assess.css' %}" rel="stylesheet">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}

{% block title %}
    Umfrage
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}

{% block content %}
<div class="container">
    <p>
        Meine Antworten in der Befragung waren zuverlässig.
    </p>

    <p>
    <i> Bitte kreuzen Sie ein Kästchen auf der Skala an, wobei
    der Wert <b>0</b> bedeutet: <b>"trifft überhaupt nicht zu"</b> und der Wert <b>10</b>: <b>"trifft voll zu"</b>. <br>
     Mit den Werten dazwischen können Sie Ihre Einschätzung abstufen. </i> 

    </p>
</div>

<div id="overflow-table">
<table class="table" style="margin-bottom:0px">
<thead>

{# Wording of level 0 and 10 of the scale #}
<tr id="scale-row">
    <th style="border-right: 1px solid #dee2e6;">
    </th>

    <th class="scale-left">trifft überhaupt nicht zu</th>

    <th colspan="9"></th>

    <th class="scale-right">trifft voll zu</th>
</tr>
</thead>

{# Creating the 10 levels of the scale #}
<tr>
        <th>
        </th>
        {% for i in levels %}
        <td>
            {{ i }}
        </td>
        {% endfor %}
    </tr>


{# Creating the questions #}

   {% for field in form %}
    <tr>
        <th>
            {{ field.label }}
        </th>
       {% for choice in field %}
        <td>
            {{ choice }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% next_button %}

{% endblock %}
