{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Was für eine Persönlichkeit sind Sie?
{% endblock %}

{% block content %}

    <p>
        Hier sind unterschiedliche Eigenschaften, die eine Person haben kann. <br>
	Wahrscheinlich werden einige Eigenschaften auf Sie persönlich voll zutreffen <br>
	und andere überhaupt nicht. Bei wieder anderen sind Sie vielleicht unentschieden.
    </p>

    <p>
        Antworten Sie bitte anhand der folgenden Skala. <br>
	Der Wert <b> 1 </b> bedeutet: <b> trifft überhaupt nicht zu. </b> <br>
	Der Wert <b> 7 </b> bedeutet: <b> trifft voll zu. </b> <br>
	Mit den Werten zwischen 1 und 7 können Sie Ihre Meinung abstufen.
    </p> 

    <p>
        <b> Ich bin jemand, der ... </b>
    </p>


    {% formfields %}

    {% next_button %}

{% endblock %}
