{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Vorlieben
{% endblock %}

{% block content %}

    <p>
        Wir fragen Sie nun nach Ihrer Bereitschaft sich in einer bestimmten Art zu verhalten. Bitte
verwenden Sie wieder eine Skala von 0 bis 10.
    </p>

    <p>
 <b> 0 </b> bedeutet <i>‘überhaupt nicht bereit, dies zu tun’</i> <br>
<b> 10 </b> bedeutet <i>‘sehr bereit, dies zu tun.’</i> 
    </p>

    <p>
Sie können auch jede Zahl zwischen 0 und 10
verwenden, um anzugeben, wo sie sich auf der Skala sehen, in dem Sie (die Zahlen) 0, 1,
2, 3, 4, 5, 6, 7, 8, 9, oder 10 verwenden.

    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
