{% extends "global/Page.html" %}
{% load otree %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}

{% block styles %}
    <link href="{% static 'self_assessment/css/style_assess.css' %}" rel="stylesheet">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}

{% block title %}
     
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}

{% block content %}
<div class="container">
    <p>
        Wie gut beschreibt jede der nachfolgenden Aussagen Sie als Person? Bitte verwenden Sie eine
Skala von 0 bis 10. 
    </p>

    <p>
<b> 0 </b> bedeutet <i>‘beschreibt mich überhaupt nicht’</i> <br>
<b> 10 </b> bedeutet <i>‘beschreibt mich perfekt’</i>
    </p>

    <p>

Sie können auch jede Zahl zwischen 0 und 10 verwenden, um anzugeben, wo sie sich auf der
Skala sehen.

    </p>
</div>

<div id="overflow-table">
<table class="table" style="margin-bottom:0px;">
<thead>

{# Wording of level 0 and 10 of the scale #}
<tr id="scale-row">
    <th style="border-right: 1px solid #dee2e6;">
    </th>

    <th class="scale-left">beschreibt mich überhaupt nicht</th>

    <th colspan="9"></th>

    <th class="scale-right">beschreibt mich perfekt</th>
</tr>
</thead>

{# Creating the 10 levels of the scale #}
<tr>
        <th>
        </th>
        {% for i in levels %}
        <td>
            {{ i }}
        </td>
        {% endfor %}
    </tr>


{# Creating the questions #}

   {% for field in form %}
    <tr>
        <th>
            {{ field.label }}
        </th>
       {% for choice in field %}
        <td>
            {{ choice }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% next_button %}

{% endblock %}

