{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Vorlieben
{% endblock %}

{% block content %}

    <p>
        Wie gut beschreibt jede der nachfolgenden Aussagen Sie als Person? Bitte verwenden Sie eine
Skala von 0 bis 10. 0 bedeutet <i>‘beschreibt mich überhaupt nicht’</i> und 10 <i>‘beschreibt mich perfekt’</i>
Sie können auch jede Zahl zwischen 0 und 10 verwenden, um anzugeben, wo sie sich auf der
Skala sehen, in dem Sie (die Zahlen) 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, oder 10 verwenden.

    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
