{% extends "global/Page.html" %}
{% load otree %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}

{% block styles %}
    <link href="{% static 'self_assessment/css/style_assess.css' %}" rel="stylesheet">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}

{% block title %}
    
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}

{% block content %}
<div class="container">
    <p>
        Bitte sagen Sie mir ganz allgemein, wie sehr sind Sie bereit oder nicht bereit, Risiken
einzugehen. Bitte verwenden Sie eine Skala von 0 bis 10, auf der 0 bedeutet <i>'überhaupt nicht
bereit, Risiken einzugehen'</i> und 10 bedeutet <i>`sehr bereit, Risiken einzugehen'</i>. Sie können auch
jede Zahl zwischen 0 und 10 verwenden, um anzugeben, wo sie sich auf der Skala sehen, in
dem Sie (die Zahlen) 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 oder 10 verwenden.
    </p>
</div>

<div id="overflow-table">
<table class="table" style="margin-bottom:0px">
<thead>

{# Wording of level 0 and 10 of the scale #}
<tr id="scale-row">
    <th style="border-right: 1px solid #dee2e6;">
    </th>

    <th class="scale-left">Überhaupt nicht bereit, Risiken einzugehen</th>

    <th colspan="9"></th>

    <th class="scale-right">Sehr bereit, Risiken einzugehen</th>
</tr>
</thead>

{# Creating the 10 levels of the scale #}
<tr>
        <th>
        </th>
        {% for i in levels %}
        <td>
            {{ i }}
        </td>
        {% endfor %}
    </tr>


{# Creating the questions #}

   {% for field in form %}
    <tr>
        <th>
            {{ field.label }}
        </th>
       {% for choice in field %}
        <td>
            {{ choice }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% next_button %}

{% endblock %}
