{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}



{% block title %}
        Vielen Dank für die Teilnahme an der Studie!
{% endblock %}

{% block content %}
    <p> Im Entscheidungsexperiment haben Sie {{my_payoff}}, d.h. {{my_payoff_real_money}} verdient. <br>
    Zusätzlich erhalten Sie eine Vergütung von {{part_fee}} für Ihre Teilnahme. Insgesamt erhalten Sie somit eine Auszahlung von <b>{{ participant.payoff_plus_participation_fee }}. </b> </p>
    <p> Wir informieren Sie, sobald alle Überweisungen durchgeführt sind (innerhalb einer Woche).  </p> 
   <p>

    Die Studie ist jetzt beendet. Sie können nun den Browser schließen und das Zoom-Meeting verlassen, indem Sie auf "Leave Room" und dann auf "Leave Meeting" klicken.
  </p>

    {% next_button %}


{% endblock %}
