{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Letzter Teil
{% endblock %}

{% block content %}

    <p>
    In dieser Aufgabe werden in jeder Frage drei Wörter vorgegeben. Sie sollen ein viertes Wort finden, das mit allen drei vorgegebenen Wörtern zusammenhängt. 
    </p>
    <p>
    Zum Beispiel wäre eine Antwort für Wand-Armband-Zeit: Uhr. <br>
    Ähnlich wäre eine Antwort für Melone-Wabe-Wiebe: Honig.
    </p>
    <p>
    Sie können fortfahren, wenn Sie bereit sind .
    </p>

    {% next_button %}

{% endblock %}
