{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Bilderrätsel <hr>
{% endblock %}

{% block content %}

<p>
    Im nächsten Teil werden wir Ihnen eine Serie von 8 Bilderrätseln vorstellen.
</p>

<br>

 <div style="text-align: right;">
    {% next_button %}
</div>

{% endblock %}

{% block scripts %}
{% endblock %}

{% block styles %}
<style>
    .otree-title{
        background: white;
        position: absolute;
        top: 0px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 0;
        width: 100%;
        height: 80px;
    }
    .otree-body{
        margin-top: 110px;
    }
</style>
{% endblock %}