{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'Instructions/back_button_v3/js/prev_next_button.js' %}"></script>


{% if player.show_tab == 8 %}
<script>
  $(function () {
    $('#myTab li:nth-child(8) a').tab('show')
  })
</script>
{% elif player.show_tab == 9 %}
<script>
  $(function () {
    $('#myTab li:nth-child(9) a').tab('show')
  })
</script>
{% endif %}

{% endblock %}


{% block styles %}

<link href="{% static 'Instructions/back_button_v3/css/custom.css' %}" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

{% endblock %}



{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
  

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Allgemeine Hinweise</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Ablauf des Experiments</a>
  </li>


<li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">Das Entscheidungsexperiment</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()">Zusammensetzung der Gruppe</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part5-tab" data-toggle="tab" href="#part5" role="tab" aria-controls="part5" onclick="topFunction()">Bestimmung der Auszahlung</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part6-tab" data-toggle="tab" href="#part6" role="tab" aria-controls="part6" onclick="topFunction()">Beispiel 1</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part7-tab" data-toggle="tab" href="#part7" role="tab" aria-controls="part7" onclick="topFunction()">Beispiel 2</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part8-tab" data-toggle="tab" href="#part8" role="tab" aria-controls="part8" onclick="topFunction()">Szenario 1</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part9-tab" data-toggle="tab" href="#part9" role="tab" aria-controls="part9" onclick="topFunction()">Szenario 2</a>
  </li>

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3"> Allgemeine Hinweise 
 </h3>
  </div>
<br>

<p> Vielen Dank für Ihr Interesse an der heutigen Studie! </p>

<p> Sie befinden sich immer noch in dem Zoom-Breakout-Room, in den Sie der Leiter des Experiments geführt hat. Sie müssen während des Experiments in diesem Breakout-Room bleiben. Bitte klicken Sie während des Experiments niemals auf den Button "Leave Room". Sollten Sie zu irgendeinem Zeitpunkt Fragen haben, können Sie sich jederzeit an den Studienleiter wenden. Verwenden Sie dazu den Button "Ask for help", den Sie in der Werkzeugleiste unten im Breakout-Room finden. Der Leiter des Experiments wird dann zu Ihnen in den Breakout-Room kommen und Ihre Frage beantworten.  </p>

<p> Bitte beachten Sie, dass Sie auch das Zoom-Meeting nicht verlassen dürfen, bis das Experiment beendet ist. <b>Wenn Sie das Zoom-Meeting vor Ablauf des Experiments verlassen, werden Sie von allen Zahlungen ausgeschlossen.</b> Bitte klicken Sie deshalb während des Experiments niemals auf den Button "Leave Meeting".  </p>

<p> Bitte räumen Sie jetzt alle potentiellen Hilfsmittel wie Stifte, Papier, Taschenrechner, Handy und dergleichen weg. Beachten Sie bitte auch, dass während des gesamten Experiments ein striktes Kommunikationsverbot besteht. Zudem weisen wir Sie darauf hin, dass Sie am Computer nur diejenigen Funktionen bedienen dürfen, die für den Ablauf des Experiments bestimmt sind. Die Nutzung von Hilfsmitteln, Kommunikation mit anderen Personen als dem Studienleiter oder das Herumspielen am Computer sind nicht erlaubt. Wenn Sie gegen diese Regeln verstoßen, werden Sie von der Studie und allen Auszahlungen ausgeschlossen. Bitte lassen Sie während des Experiments Ihre <b>Kameras eingeschaltet und Mikrofone ausgeschaltet</b>. </p>

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>






  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3"> Ablauf des Experiments </h3>
  </div>
<br>

<p> Die Studie besteht aus zwei Teilen: einem Entscheidungsexperiment und einer kurzen Befragung. Wenn Sie beide Teile vollständig abschließen, erhalten Sie eine Vergütung von €3. Zusätzlich können Sie während des Entscheidungsexperiments Geld verdienen, indem Sie Punkte sammeln. Die Anzahl der Punkte, die Sie während des Experiments erhalten, hängt von Ihren Entscheidungen, den Entscheidungen anderer Teilnehmer im Experiment sowie vom Zufall ab. Alle Punkte, die Sie im Experiment sammeln, werden am Ende des Experiments in Euro umgerechnet. Hierbei gilt:  </p> <br>

<center> 10 Punkte = € 1,50  </center> <br>

<p> Der Geldbetrag, den Sie im Verlauf des Experiments verdienen, und zusätzlich die Vergütung von €3 werden auf Ihr Konto überwiesen.  </p>

<p> Die Entscheidungen, die Sie während des Experiments treffen, und die Angaben, die Sie in der Befragung machen, werden nur in anonymisierter Form ausgewertet, d.h. bei der Datenauswertung werden Ihre Angaben niemals mit Ihrem Namen in Verbindung gebracht werden. Persönliche Angaben, wie Namen und Bankverbindungen werden in diesem Datensatz nicht gespeichert, sondern werden ausschließlich für die Abwicklung der Auszahlung verwendet.  </p>

<p> Im Experiment werden Sie unter Umständen mit einem anderen am Experiment Teilnehmenden interagieren. Niemand wird aber die Identität des jeweils anderen Teilnehmenden erfahren. Somit wird kein anderer Teilnehmender am Ende wissen, welche Auszahlung Sie bekommen.  </p>

    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>





  <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3"> Das Entscheidungsexperiment </h3>
  </div>
<br>


<p> Jetzt erklären wir das Experiment! </p>

<p> <b> Die Gruppen:</b> <br>
Im Entscheidungsexperiment werden Sie zufällig einem anderen Teilnehmenden zugeordnet. Sie werden die Aufgabe mit diesem Teilnehmenden als Team bearbeiten.  </p>

<p> <b> Die Gruppenaufgabe:</b> <br>
Die Aufgabe der Gruppe besteht darin, durch Loskäufe Punkte zu erwerben. Das Los mit der höchsten Punktzahl, das von einem der beiden Gruppenmitglieder gezogen wurde, bestimmt Ihre Auszahlung. Jedes Mitglied einer 2er-Gruppe kann während einer 10-minütigen Kaufphase Lose kaufen. Während der Kaufphase erfahren Sie nicht, ob und wie viele Lose das andere Gruppenmitglied kauft. Über die höchste vom anderen Gruppenmitglied gezogene Punktzahl werden Sie erst am Ende Kaufphase informiert.  </p>

<p> <b> Die Kaufphase:</b> <br>
Zunächst fragt das System Sie (und das andere Gruppenmitglied), ob Sie ein Los kaufen möchten. Sie können sich für den Kauf eines Loses entscheiden, indem Sie auf den Button "Los kaufen" klicken. Jeder Loskauf kostet den Käufer einen Punkt. Die Kosten für Loskäufe werden später nur dem Käufer in Rechnung gestellt. <br> <br>
Sobald Sie ein Los gekauft haben, zieht der Computer aus einem vorgegebenen Intervall eine Punktzahl. Diese Punktzahl wird Ihnen sofort nach der Ziehung mitgeteilt, dem anderen Gruppenmitglied aber nicht. Jede Ziehung dauert etwa 10 Sekunden. <br> <br>
Sie können sich danach entscheiden, ob Sie ein weiteres Los kaufen möchten oder nicht. Jedes Gruppenmitglied kann so viele Lose kaufen, wie es möchte und zeitlich möglich ist, oder sich entscheiden, keine Lose zu kaufen. Insgesamt steht ein Kaufzeitraum von 10 Minuten zu Verfügung. Während dieses Zeitraums können Sie entweder Lose kaufen oder die Zeit verstreichen lassen. Es ist nicht möglich, die Kaufphase früher zu beenden.  </p>


    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>





  <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3"> Zusammensetzung der Gruppe </h3>
  </div>
<br>


<p> <b> Die Typen:</b> <br>
In jeder Gruppe gibt es ein <text style="color:blue";>BLAUES</text> Gruppenmitglied und ein <text style="color:green";>GRÜNES</text> Gruppenmitglied. <br>
Die Punktzahl der Lose des <text style="color:blue";>BLAUEN</text> Gruppenmitglieds wird zwischen 0 und 65 Punkten liegen. <br>
Die Punktzahl der Lose des <text style="color:green";>GRÜNEN</text> Gruppenmitglieds wird zwischen 35 und 100 Punkten liegen. <br> <br>

Jedes Gruppenmitglied zieht somit aus einem anderen Lostopf.  </p>

<p> <b> Die Lostöpfe:</b> <br>
In jedem Lostopf ist jede Punktzahl gleich wahrscheinlich, d.h. jede Zahl aus dem entsprechenden Intervall befindet sich darin gleich häufig. Nach jeder Ziehung wird das gezogene Los wieder in den Lostopf zurückgelegt. <br> <br>
Bitte beachten Sie, dass der grüne Spieler aus einem Lostopf zieht, der Lose mit höheren Punktzahlen enthält.  </p>




    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>




  <div class="tab-pane" id="part5" role="tabpanel" aria-labelledby="part5-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3">Bestimmung der Auszahlung</h3>
  </div>
<br>
    
<p> <b> Auszahlungen:</b> <br>
Am Ende der 10-minütigen Kaufphase wird Ihre persönliche Auszahlung festgelegt. Die Auszahlung richtet sich nach dem Los mit der höchsten Punktzahl, das von einem der beiden Gruppenmitglieder gezogen wurde, und den Kosten für eigene Loskäufe. Während jedes Mitglied dieselbe Punktzahl für den Loserfolg der Gruppe erhält, werden die Kosten für Loskäufe nur jeweils dem Gruppenmitglied in Rechnung gestellt, das diese Kosten verursacht hat. <br> <br>
<b>Für Ihre Auszahlung gilt:</b> <br>
Ihre Auszahlung in Punkten = Punktzahl des Loses mit der höchsten Punktzahl in Ihrer 2er-Gruppe – Anzahl Ihrer eigenen Loskäufe  </p>

<p> Bitte beachten Sie, dass bis auf das Los mit der höchsten Punktzahl in der Gruppe alle anderen Lose für die Auszahlung irrelevant sind. Sie zahlen dennoch die Kosten für alle von Ihnen gekauften Lose.  </p>
 <br>
                <p><center><img align="middle" width=90%
                        src="{% static "Instructions/diagram/diagram.png" %}"/></center></p> 
                <br>


    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>





  <div class="tab-pane" id="part6" role="tabpanel" aria-labelledby="part6-tab">
 

<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3">Beispiel 1 </h3>
  </div>
<br>
    
<div class="row">
  <div class="column">
    <b>1. Gruppenmitglied</b>
    <p>Los mit höchster Punktzahl: 40 Punkte <br>
    Die Gesamtkosten der Loskäufe: 3 Punkte</p>
  </div>
  <div class="column">
    <b>2. Gruppenmitglied</b>
    <p>Los mit höchster Punktzahl: 60 Punkte <br>
    Die Gesamtkosten der Loskäufe: 8 Punkte</p>
  </div>
</div>

<p> Die Auszahlung für das 1. Gruppenmitglied  beträgt: 60 - 3 = 57 Punkte <br>
Die Auszahlung für das 2. Gruppenmitglied  beträgt: 60 - 8 = 52 Punkte </p>



    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>


  <div class="tab-pane" id="part7" role="tabpanel" aria-labelledby="part7-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3">Beispiel 2 </h3>
  </div>
<br>
 
<div class="row">
  <div class="column">
    <b>1. Gruppenmitglied</b>
    <p>Los mit höchster Punktzahl: 50 Punkte <br>
    Die Gesamtkosten der Loskäufe: 6 Punkte</p>
  </div>
  <div class="column">
    <b>2. Gruppenmitglied</b>
    <p>Los mit höchster Punktzahl: 0 Punkte <br>
    Die Gesamtkosten der Loskäufe: 0 Punkte</p>
  </div>
</div>

<p> Die Auszahlung für das 1. Gruppenmitglied  beträgt: 50 - 6 = 44 Punkte <br>
Die Auszahlung für das 2. Gruppenmitglied  beträgt: 50 - 0 = 50 Punkte </p>




    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>


  <div class="tab-pane" id="part8" role="tabpanel" aria-labelledby="part8-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3">Bitte berechnen Sie die Auszahlungen </h3>
  </div>
<br>
    
<p> Im folgenden bitten wir Sie, für 2 hypothetische Szenarien Auszahlungen zu berechnen. </p> <br>
   
<p> <b> Szenario 1:</b> <br> 
Die höchste gezogene Punktzahl des 1. Gruppenmitglieds beträgt: 85 Punkte <br>
Die höchste gezogene Punktzahl des 2. Gruppenmitglieds beträgt: 30 Punkte <br>
Anzahl der Loskäufe des 1. Gruppenmitglieds: 4 <br>
Anzahl der Loskäufe des 2. Gruppenmitglieds: 9 <br> <br>
Ihre Antwort:
 </p>

{% formfield player.q1 %}

{% formfield player.q2 %}




    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>


  <div class="tab-pane" id="part9" role="tabpanel" aria-labelledby="part9-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3">Bitte berechnen Sie die Auszahlungen </h3>
  </div>
<br>
    
<p> <b> Szenario 2:</b> <br> 
Die höchste gezogene Punktzahl des 1. Gruppenmitglieds beträgt: 45 Punkte <br>
Die höchste gezogene Punktzahl des 2. Gruppenmitglieds beträgt: 90 Punkte <br>
Anzahl der Loskäufe des 1. Gruppenmitglieds: 2 <br>
Anzahl der Loskäufe des 2. Gruppenmitglieds: 7 <br> <br>
Ihre Antwort:
 </p>

{% formfield player.q3 %}

{% formfield player.q4 %}



    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button class="nexttab btn-primary btn next">Weiter</button>
  </div>


</div>


</body>


{% endblock %}



