{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

{% endblock %}



{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
  

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Instruktionen 1
</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Instruktionen 2</a>
  </li>


<li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">Instruktionen 3</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()">Instruktionen 4</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part5-tab" data-toggle="tab" href="#part5" role="tab" aria-controls="part5" onclick="topFunction()">Instruktionen 5</a>
  </li>

<li class="nav-item">
    <a class="nav-link" id="part6-tab" data-toggle="tab" href="#part6" role="tab" aria-controls="part6" onclick="topFunction()">Verständnistest</a>
  </li>

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Instruktionen 1 
 </h3>
  </div>
<br>

{% include "global/main/inst1.html" %}

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>











  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Instruktionen 2 </h3>
  </div>
<br>

{% include "global/main/inst2.html" %}

    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>


  <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Instruktionen 3 </h3>
  </div>
<br>


{% include "global/main/inst3.html" %}

    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>


  <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold"> Instruktionen 4 </h3>
  </div>
<br>


{% include "global/main/inst4.html" %}

    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>




  <div class="tab-pane" id="part5" role="tabpanel" aria-labelledby="part5-tab">


<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold">Instruktionen 5 </h3>
  </div>
<br>
    
<p> Das unten stehende Pop-up-Fenster kann zu einem beliebigen Zeitpunkt während des Experiments angezeigt werden, um Ihre Aufmerksamkeit zu überprüfen. Wenn es auftaucht, <b>haben Sie {{popup_duration}} Sekunden Zeit</b>, um auf die Schaltfläche zu klicken. Wenn Sie das nicht tun, erhalten Sie <b>€0</b> als Auszahlung für das Entscheidungsexperiment. Für das Abschließen des Experiments mit der anschließenden Befragung erhalten Sie dann insgesamt €{{pay_inattent}}. </p>
 <br>
                <p><center><img align="middle" width=50%
                        src="{% static "popup/pop-up.png" %}"/></center></p> 
                <br>


<p> Klicken Sie auf „Weiter“, wenn Sie mit dem Experiment beginnen möchten. </p>


    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Weiter</button>
  </div>





  <div class="tab-pane" id="part6" role="tabpanel" aria-labelledby="part6-tab">
 

<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold">Verständnistest </h3>
  </div>
<br>
    
{% include "global/main/comprehension_1.html" %}

{% formfield player.q1 %}

{% formfield player.q2 %}


{% include "global/main/comprehension_2.html" %}

{% formfield player.q3 %}

{% formfield player.q4 %}




    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Zurück</button>
<button class="nexttab btn-primary btn next">Weiter</button>
  </div>


</div>

</body>


{% endblock %}



