{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    
{% endblock %}

{% block content %}

    <p>
        Nehmen Sie an, jedes Los hätte Sie {{cost_alt}} Punkte statt {{cost}} Punkt gekostet. Nehmen Sie außerdem an, dass alles andere im Experiment gleich geblieben wäre.
    </p>
    <p>
        Hätten Sie sich anders entschieden; und wenn ja, wie hätten Sie Ihre Entscheidungen geändert? Bitte beschreiben Sie sie unten.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
