{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    
{% endblock %}

{% block content %}

    <p>
        Nehmen Sie jetzt bitte an, die mögliche Punktzahl für Ihre Lose hätte zwischen {{min_alt}} und {{max_alt}} statt zwischen {{min}} und {{max}} gelegen. Nehmen Sie außerdem an, dass alles andere im Experiment gleich geblieben wäre.
    </p>
    <p>
        Hätten Sie sich anders entschieden; und wenn ja, wie hätten Sie Ihre Entscheidungen geändert? Bitte beschreiben Sie sie unten.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
