<title>Experiment</title>
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<span id='title' class="block-content"></span>
{% endblock %}

{% block content %}
{% include "global/warning_box_html.html" %}
<div class="warning_alert_box" id="warning_alert_box">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <center> Bitte beachten Sie, dass ein Benutzen von Hilfsmitteln während der Studie nicht erlaubt ist.</center>
    <br>
    <p>Bleiben Sie bitte mit Ihrer Maus in dem Browserfenster und verlassen dieses nicht! Ein Nicht beachten dieser Regeln kann zum Ausschluss aus dem Experiment führen.
</div>


<div id="visual" class="stagger-visualizer"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Pop Up</h4>
        </div>
        <div class="modal-body">
          <p>Bitte klicken Sie auf den Button unten.</p>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-danger" id="AttentionBtn" data-dismiss="modal">Klicken Sie hier</button>
        </div>
      </div>

    </div>
  </div>


<div class="all_content block-content">
<!-- Information regarding payoffs -->
<div class='left_div'>
      <p>
        Jedes Los hat eine zufällige Punktzahl zwischen: <br>
        <b><span id='lower'></span></b> und <b><span id='upper'></span></b>.
      </p> <br>
      <br>
      <br>
      <p>
        Jedes Los kostet: <br>
        <b>{{ Constants.cost}}</b> Punkt
      </p> <br>
      <br>
      <br>
      <p>
        Ihr Los mit der höchsten Punktzahl: <br>
        <b><span id='display_max'></span>  </b>
      </p> <br>
      <br>
      <p>
        Anzahl der von Ihnen gekauften Lose: <br>
        <b><span id='display_num_draws'></span></b>
      </p><br>
      <br>
      <br>
</div>

<!-- Search history -->
<div class='right_div'>
      <p><b>Ihre Loskäufe:</b></p><br>
      <table style="width:100%;text-align:center;align:center">
 <tr>
   <td><span id='display_1'></span></td>
   <td><span id='display_11'></span></td>
 </tr>
 <tr>
   <td><span id='display_2'></span></td>
   <td><span id='display_12'></span></td>
 </tr>
 <td><span id='display_3'></span></td>
 <td><span id='display_13'></span></td>
</tr>
<tr>
 <td><span id='display_4'></span></td>
 <td><span id='display_14'></span></td>
</tr>
<td><span id='display_5'></span></td>
<td><span id='display_15'></span></td>
</tr>
<tr>
<td><span id='display_6'></span></td>
<td><span id='display_16'></span></td>
</tr>
<td><span id='display_7'></span></td>
<td><span id='display_17'></span></td>
</tr>
<tr>
<td><span id='display_8'></span></td>
<td><span id='display_18'></span></td>
</tr>
<tr>
<td><span id='display_9'></span></td>
<td><span id='display_19'></span></td>
</tr>
<tr>
<td><span id='display_10'></span></td>
<td><span id='display_20'></span></td>
</tr>
</table>
</div>
<input type='hidden' name='attention_check' value='0' id='attention_check'></input>
<input type='hidden' name='draw_1' id='draw_1'></input>
<input type='hidden' name='draw_2' id='draw_2'></input>
<input type='hidden' name='draw_3' id='draw_3'></input>
<input type='hidden' name='draw_4' id='draw_4'></input>
<input type='hidden' name='draw_5' id='draw_5'></input>
<input type='hidden' name='draw_6' id='draw_6'></input>
<input type='hidden' name='draw_7' id='draw_7'></input>
<input type='hidden' name='draw_8' id='draw_8'></input>
<input type='hidden' name='draw_9' id='draw_9'></input>
<input type='hidden' name='draw_10' id='draw_10'></input>
<input type='hidden' name='draw_11' id='draw_11'></input>
<input type='hidden' name='draw_12' id='draw_12'></input>
<input type='hidden' name='draw_13' id='draw_13'></input>
<input type='hidden' name='draw_14' id='draw_14'></input>
<input type='hidden' name='draw_15' id='draw_15'></input>
<input type='hidden' name='draw_16' id='draw_16'></input>
<input type='hidden' name='draw_17' id='draw_17'></input>
<input type='hidden' name='draw_18' id='draw_18'></input>
<input type='hidden' name='draw_19' id='draw_19'></input>
<input type='hidden' name='draw_20' id='draw_20'></input>
<input type='hidden' name='current_max_is' id='current_max_is'></input>
<input type='hidden' name='num_draws' id='num_draws'></input>
<input type="hidden" name="prompt_counter" value="0" id="prompt_counter"/>
<input type="hidden" name="Task_warnings" value="0" id="Task_warnings"/>

<button class="btn btn-danger btn-lg" style="display: block; margin: auto;" type="button" id="draw_button">Los kaufen</button>
</div>

{% endblock %}

{% block styles %}
<style>
.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
  margin: 0 auto;
}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 1rem;
  height: 1rem;
  border: 1px solid #FFF;
  background-color: #0053a0;
  text-align: center;
}
.left_div {
  margin-right: 5%;
  padding: 10px;
  width: 45%;
  height: 450px;
  /*background: red;*/
  float: left;
  border: 1px solid;
  border-color: #0053a0 ;
  border-radius: 4px;
  text-align: center;
}

.right_div {
  margin-left: 5%;
  padding: 10px;
  width: 45%;
  height: 450px;
  /*background: black;*/
  float: right;
  border: 1px solid;
  border-color: #0053a0 ;
  border-radius: 4px;
  text-align: center;
}
th, td {
  padding: 5px;
}
</style>

<style>
    .otree-timer {
        display: none;
    }
</style>

<style type="text/css">

 /* The alert message box */
.warning_alert_box {
  padding: 20px;
  background-color: #dc3545; /* Red */
  color: white;
  margin-bottom: 30px;
  border-radius: 4px;
  display: none
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

div.hidden
{
   display: none
}

</style>

{% endblock %}


{% block scripts %}
<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    $("#myModal").modal();
  });
});
</script>

<script>
start = js_vars.pop_up_start;
end = js_vars.pop_up_end;
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === start) {
                $("#myModal").modal();
            }
            if (event.offset.totalSeconds === end) {
                $('#myModal').modal('hide');
            }
        });
    });
</script>

{# AnimeJS #}
<script src="{% static 'node_modules/anime.js/lib/anime.js' %}"></script>

<script>
const staggerVisualizerEl = document.querySelector('.stagger-visualizer');
const fragment = document.createDocumentFragment();
const grid = [17, 17];
const col = grid[0];
const row = grid[1];
const numberOfElements = col * row;

for (let i = 0; i < numberOfElements; i++) {
  fragment.appendChild(document.createElement('div'));
}

staggerVisualizerEl.appendChild(fragment);

const staggersAnimation = anime.timeline({
  targets: '.stagger-visualizer div',
  easing: 'easeInOutSine',
  delay: anime.stagger(50),
  loop: true,
  autoplay: false
})
.add({
  translateX: [
    {value: anime.stagger('-.1rem', {grid: grid, from: 'center', axis: 'x'}) },
    {value: anime.stagger('.1rem', {grid: grid, from: 'center', axis: 'x'}) }
  ],
  translateY: [
    {value: anime.stagger('-.1rem', {grid: grid, from: 'center', axis: 'y'}) },
    {value: anime.stagger('.1rem', {grid: grid, from: 'center', axis: 'y'}) }
  ],
  duration: 1000,
  scale: .5,
  delay: anime.stagger(100, {grid: grid, from: 'center'})
})
.add({
  translateX: () => anime.random(-10, 10),
  translateY: () => anime.random(-10, 10),
  delay: anime.stagger(8, {from: 'last'})
})
.add({
  translateX: anime.stagger('.25rem', {grid: grid, from: 'center', axis: 'x'}),
  translateY: anime.stagger('.25rem', {grid: grid, from: 'center', axis: 'y'}),
  rotate: 0,
  scaleX: 2.5,
  scaleY: .25,
  delay: anime.stagger(4, {from: 'center'})
})
.add({
  rotate: anime.stagger([90, 0], {grid: grid, from: 'center'}),
  delay: anime.stagger(50, {grid: grid, from: 'center'})
})
.add({
  translateX: 0,
  translateY: 0,
  scale: .5,
  scaleX: 1,
  rotate: 180,
  duration: 1000,
  delay: anime.stagger(100, {grid: grid, from: 'center'})
})
.add({
  scaleY: 1,
  scale: 1,
  delay: anime.stagger(20, {grid: grid, from: 'center'})
})
staggersAnimation.play();
</script>
<script>
var prompt_counter = 0;
var confirmOnPageExit = function (e)
{
    // If we haven't been passed the event get the window.event
    e = e || window.event;
    // Stores the prompts made by the player
    prompt_counter += 1;
    $("#prompt_counter").val(prompt_counter);

    var message = 'Wenn Sie die Seite neuladen, bekommen Sie keine zusätzliche Auszahlung!';

    // For IE6-8 and Firefox prior to version 4
    if (e)
    {
        e.returnValue = message;
    }

    // For Chrome, Safari, IE8+ and Opera 12+
    return message;
};
$(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds < 2) {
                window.onbeforeunload = null;

            }
            else {
                window.onbeforeunload = confirmOnPageExit;
            }
        });
    });

function disableBeforeUnload() {
    window.onbeforeunload = null;
}
</script>
<script>
function backToBasics() {
  $('#visual').hide();
  $('.block-content').show();
};
function getRndInteger(min, max) {
  return Math.floor(Math.random() * (max - min) ) + min;
};
function getMaxOfArray(numArray) {
  return Math.max.apply(null, numArray);
};
document.getElementById('title').innerHTML = 'Sie haben bisher noch kein Los Gekauft.';
var count = 0;
var draw_btn = document.getElementById("draw_button");
var att_btn = document.getElementById("AttentionBtn");
var int_array = [];
min_bound = js_vars.min;
max_bound = js_vars.max;
animation_time = js_vars.animation_time * 1000;
document.getElementById('lower').innerHTML = min_bound;
document.getElementById('upper').innerHTML = max_bound;
$('#visual').hide();

draw_btn.onclick = function () {
    // Count clicks
    if (count < 20) {
    $('#visual').show();
    $('.block-content').hide();
    $('#warning_alert_box').hide();
    setTimeout(function() {
      $('#visual').hide();
      $('.block-content').show();
    },animation_time);
    count++;
    $('#num_draws').val(count);
    document.getElementById('display_num_draws').innerHTML = count;
    // Draw a random number within the specified corridor.
    random_draw = getRndInteger(min_bound, max_bound);
    // get respective variable name
    var input_var="#draw_" + count;
    var display_var="display_" + count;
    // print the number into the resp. field
    document.getElementById(display_var).innerHTML = random_draw;
    // Store it into input field.
    $(input_var).val(random_draw);
    // Change dynamic title
    document.getElementById('title').innerHTML = 'Ihr gerade erworbenes Los hat eine Punktzahl von '+random_draw+'';
    // Store draw in array and find max and print it too.
    int_array.push(random_draw);
    var current_max = getMaxOfArray(int_array);
    document.getElementById("current_max_is").value = current_max;
    document.getElementById('display_max').innerHTML = current_max;
    } else {
    console.log('Finito');
    }
};
var att_btn = document.getElementById("AttentionBtn");
att_btn.onclick = function (){
  $('#attention_check').val(1);
};
</script>

<script type="text/javascript">

window.addEventListener("load", function(event) {
    $('#warning_alert_box').hide();
    var i =0;
    document.addEventListener("mouseout", function(event) {
        event = event ? event : window.event;
        var from = event.relatedTarget || event.toElement;
        if (!from) {
            // Show alert box
            $('#warning_alert_box').show();
            // count up
            i = i +1;
            document.getElementById( "Task_warnings").value = i;
        }
    });
});
</script>


{% endblock %}
