{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ihr Typ
{% endblock %}

{% block content %}
{% if player.type == 'r1' %}
    <p> Sie wurden zufällig als <text style="color:green";> GRÜNES </text> Gruppenmitglied bestimmt. <br>
     Sie werden mit einem "Computer-Bot" zusammengebracht, der die Rolle des <text style="color:blue";> BLAUEN </text> Gruppenmitglieds übernimmt.</p>

    <p> Der Computer-Bot ist so programmiert, dass er seinen erwarteten Gewinn maximiert. </p>

    <p> Die Punktzahl Ihrer Lose wird zwischen 35 und 100 Punkten liegen.<br>
     Die Punktzahl der Lose des Computer-Botes wird zwischen 0 und 65 liegen.</p>
      <br>
{% elif player.type == 'r2' %}
    <p> Sie wurden zufällig als <text style="color:blue";> BLAUES </text> Gruppenmitglied bestimmt. <br>
     Sie werden mit einem "Computer-Bot" zusammengebracht, der die Rolle des <text style="color:green";> GRÜNEN </text> Gruppenmitglieds übernimmt.</p>

    <p> Der Computer-Bot ist so programmiert, dass er seinen erwarteten Gewinn maximiert. </p>

    <p> Die Punktzahl Ihrer Lose wird zwischen 0 und 65 Punkten liegen.<br>
     Die Punktzahl der Lose des Computer-Bots werden zwischen 35 und 100 liegen.</p>
      <br>
{% endif %}

    <p> Klicken Sie auf Weiter, um zu beginnen.</p>


    {% next_button %}
{% endblock %}
