{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
{% include "global/fopen_bt.html" %}
Herzlich willkommen zur Studie!
{% include "global/fopen_at.html" %}

<p>
Bitte lesen Sie die folgenden Instruktionen sorgfältig durch. Hier wird Ihnen alles mitgeteilt, was Sie für die Teilnahme an der Studie wissen müssen.
</p>
<p>
Detaillierte Informationen zu den unterschiedlichen Teilen der Studie werden Ihnen jeweils zu Beginn eines neuen Teils auf dem Bildschirm angezeigt.
</p>
{% next_button %}

{% include "global/fclose.html" %}
{% endblock %}
