{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
{% include "global/fopen_bt.html" %}
Herzlich willkommen zur Studie!
{% include "global/fopen_at.html" %}

<p>
Bitte lesen Sie die folgenden Instruktionen sorgfältig durch. Hier wird Ihnen alles mitgeteilt, was Sie für die Teilnahme an der Studie wissen müssen.
Die Studie besteht aus vier Teilen mit jeweils drei Runden und einem abschließenden Fragebogen. Durch das Bearbeiten von Aufgaben können Sie in jeder Runde Punkte sammeln.
Alle Punkte, die Sie während der Studie sammeln, werden zusammengezählt und in Euro umgerechnet.
<b>Ein Punkt in dieser Studie ist {{conversion}} € wert.</b>{% if participation_fee > 0 %} Zudem bekommen Sie für Ihre Teilnahme einen <b>Grundbetrag von {{participation_fee}}.</b>{% endif %}
</p>
<p>
Detaillierte Informationen zu den unterschiedlichen Teilen der Studie werden Ihnen jeweils zu Beginn eines neuen Teils auf dem Bildschirm angezeigt.
</p>
<p>
Auf dem nächsten Bildschirm erhalten Sie weitere Informationen zum ersten Teil der Studie.
</p>
{% next_button %}

{% include "global/fclose.html" %}
{% endblock %}
