{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    
{% endblock %}

{% block content %}

    <p>
        Was denken Sie, wie hoch ist der Loserfolg Ihres Partners (d.h. die höchste geloste Punktzahl)? <br>
        Bitte schreiben Sie Ihre Einschätzung im Kasten unten auf.
    </p>

    <p style="font-family:courier";"font-size:18px";"color:gray";>
        (Der Loserfolg Ihres Partners liegt zwischen {{min_opp}} und {{max_opp}}.)
    </p>



    {% formfields %}

    {% next_button %}

{% endblock %}
