{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruktionen
{% endblock %}

{% block content %}

<p> Vielen Dank für Ihr Interesse an der heutigen Studie! Die Studie besteht aus zwei Teilen, einem Entscheidungsexperiment und einer kurzen Befragung. Wenn Sie beide Teile vollständig abschließen, erhalten Sie eine Vergütung von  €2, <b> Zusätzlich können Sie während des Entscheidungsexperimemnts Geld verdienen,</b> indem Sie Punkte sammeln. Die Anzahl der Punkte, die Sie während des Experiments erhalten, hängt vom Zufall und von Ihren Entscheidungen ab. Alle Punkte, die Sie im Experiment sammeln, werden am Ende des Experiments in Euro umgerechnet. Hierbei gilt: </p>

<center> <b> 10 Punkte = € 1 </b> </center>

<p> <b> Der Geldbetrag, den Sie im Verlauf des Experiments verdient haben, und zusätzlich die Vergütung von €2 werden auf Ihr Konto überwiesen.</b> Am Ende des Experiments können Sie angeben, auf welches Konto der Gesamtbetrag überwiesen werden soll. </p>

<p> Die Entscheidungen, die Sie während des Experiments treffen, und die Angaben, die Sie in der Befragung machen, werden niemals mit Ihrem Namen in Verbindung gebracht. Niemand wird wissen, wie viel Sie verdienen. Alle Daten, d.h. Informationen zu Ihren Entscheidungen und Daten aus Beragung werden anonymisiert und nur als anonymisierte Daten analysiert. </p>

<p> Im Entscheidungsexperiment, welches später genau erklärt wird, werden Sie zufällig einem anderen Teilnehmer zugeordnet. Jedes Mitglied einer 2er-Gruppe kann in einem Zeitraum von 10 Minuten nach Angeboten suchen. Jede Suchanfrage führt zu einem Angebot und kostet jeweils einen fixen Betrag. Sie können innerhalb der 10 Minuten so viele Suchanfragen machen, wie Sie wollen, oder Sie können sich entscheiden, keine Suchanfrage zu machen. Die Anzahl der Punkte, die Sie in diesem Entscheidungsexperiment erhalten, hängt vom Sucherfolg der Gruppe ab. </p>

<p> Bitte räumen Sie jetzt alle potentiellen Hilfsmittel wie Stifte, Papier, Taschenrechner, Handy und dergleichen weg. Beachten Sie bitte auch, dass während des gesamten Experiments ein striktes Kommunikationsverbot besteht. Zudem weisen wir Sie darauf hin, dass Sie am Computer nur diejenigen Funktionen bedienen dürfen, die für den Ablauf des Experiments bestimmt sind. <b> Die Nutzung von Hilfsmitteln, Kommunikation mit anderen Personen als dem Studienleiter oder das Herumspielen am Computer sind nicht erlaubt.</b> Wenn Sie gegen diese Regeln verstoßen, werden Sie von der Studie und allen Bezahlungen ausgeschlossen. Bitte lassen Sie während des Experiments Ihre <b> Kameras eingeschaltet und Mikrofone ausgeschaltet.</b> </p>

<p> Sollten Sie zu irgendeinem Zeitpunkt Fragen haben, können Sie sich jederzeit an den Studienleiter wenden. Verwenden Sie dazu den Button "Ask for help", den Sie in der Werkzeugleiste unten im Breakout-Room finden. Bitte beachten Sie, dass Sie den Breakout-Room während des Experiments nicht verlassen können. Nur der Leiter der Studie kann Sie wieder in den Hauptraum zurückholen. Bitte klicken Sie während des Experiments niemals auf den Button "Leave Meeting". Wenn Sie das Zoom-Meeting vor Ablauf des Experiments verlassen, warden Sie von allen Zahlungen ausgeschlossen. </p>

    {% next_button %}
{% endblock %}
