{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ihr Typ
{% endblock %}

{% block content %}
<p> Sie führen das Entscheidungsexperiment in 2er-Gruppen aus. Jedes Mitglied der Gruppe kann Angebote erhalten, indem es eine Suchanfrage macht und dafür einen fixen Betrag bezahlt. Der Preis für eine Suchanfrage beträgt 1 Punkt. </p>

<p> Sie können so viele Angebote anfragen, wie Sie wollen, oder Sie können wählen, kein Angebot anzufragen. Das höchste Angebot, das Sie haben, wird Ihre individuelle Leistung sein. </p>

<p> In jeder Gruppe gibt es einen <text style="color:blue";> BLAUEN </text> Spieler und einen <text style="color:green";> GRÜNEN </text> Spieler. <br>
Die Angebote des <text style="color:blue";> BLAUEN </text> Spielers werden zwischen 0 und 65 Punkten liegen. <br>
Die Angebote des <text style="color:green";> GRÜNEN </text> Spielers liegen zwischen 35 und 100 Punkten. <br>
</p>

<p> Nachdem Sie ein Angebot angefragt haben, wird vom Computer eine Punktzahl aus dem für Interval, das für den jeweiligen Spieler gilt, gezogen. Bitte beachten Sie, dass dabei jede Zahl aus dem Intervall mit derselben Wahrscheinlichkeit gezogen wird. </p>

<p> Die zufällige Ziehung des Computers wird XXX Sek unden dauern. Danach wird Ihnen die Punktzahl Ihres Angebots angezeigt. Sie können sich dann entscheiden, ob Sie ein weiteres Angebot anfragen möchten oder nicht. Die Einzelleistung eines Gruppenmitglieds in dieser Aufgabe ist jeweils sein höchstes Angebot. </p>

<p> Insgesamt steht Ihnen ein Zeitraum von 10 Minuten für die Anfrage von Angeboten zur Verfügung. Nach dieser Zeit wird berechnet, wie viele Punkte Sie und das andere Guppenmitglied erhalten. </p>

<p> Die Entlohnung in Punkten hängt von den Leistungen der Gruppenmitglieder und den individuellen Kosten für Angebotsanfragen ab. Die Gruppenleistung ist die höchste von zwei Einzelleistungen in der Gruppe. Die individuellen Kosten eines Gruppenmitglieds sind der Betrag, den es individuell für alle seine eigenen Suchanfragen bezahlen muss. Die Anzahl der Punkte, die ein Gruppenmitglied für diese Aufgabe erhält ist die  Gruppenleistung abzüglich seiner individuellen Kosten. </p>

<p> Somit ergibt sich für Sie folgende Entlohung in Punkten: <br>
Punktzahl des höchsten Angebots in Ihrer Gruppe – Anzahl Ihrer eigenen Suchanfragen. </p>

<p> Klicken Sie auf „Weiter“, wenn Sie die Instruktionen gelesen haben und mit dem Experiment beginnen möchten. </p>


    {% next_button %}
{% endblock %}
