<title>Experiment</title>
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<span id='title'></span>
{% endblock %}

{% block content %}
<div class='left_div'>
      <p>
        Jede Ziehung ist eine zufällige Zahl zwischen: <br>
        <b><span id='lower'></span></b> und <b><span id='upper'></span></b>.
      </p> <br>
      <br>
      <br>
      <p>
        Jede Zeihung kostet: <br>
        <b>{{ Constants.cost}}</b>
      </p> <br>
      <br>
      <br>
      <p>
        Deine Leistung (höchstes Angebot): <br>
        <b><span id='display_max'></span>  </b>
      </p> <br>
      <br>
      <p>
        Du hast gezogen: <br>
        <b><span id='display_num_draws'></span></b> mal.
      </p><br>
      <br>
      <br>
</div>
<div class='right_div'>
      <p><b>Dein Suchverlauf:</b></p><br>
      <table style="width:100%;text-align:center;align:center">
 <tr>
   <td><span id='display_1'></span></td>
   <td><span id='display_11'></span></td>
 </tr>
 <tr>
   <td><span id='display_2'></span></td>
   <td><span id='display_12'></span></td>
 </tr>
 <td><span id='display_3'></span></td>
 <td><span id='display_13'></span></td>
</tr>
<tr>
 <td><span id='display_4'></span></td>
 <td><span id='display_14'></span></td>
</tr>
<td><span id='display_5'></span></td>
<td><span id='display_15'></span></td>
</tr>
<tr>
<td><span id='display_6'></span></td>
<td><span id='display_16'></span></td>
</tr>
<td><span id='display_7'></span></td>
<td><span id='display_17'></span></td>
</tr>
<tr>
<td><span id='display_8'></span></td>
<td><span id='display_18'></span></td>
</tr>
<tr>
<td><span id='display_9'></span></td>
<td><span id='display_19'></span></td>
</tr>
<tr>
<td><span id='display_10'></span></td>
<td><span id='display_20'></span></td>
</tr>
</table>
</div>
<input type='hidden' name='draw_1' id='draw_1'></input>
<input type='hidden' name='draw_2' id='draw_2'></input>
<input type='hidden' name='draw_3' id='draw_3'></input>
<input type='hidden' name='draw_4' id='draw_4'></input>
<input type='hidden' name='draw_5' id='draw_5'></input>
<input type='hidden' name='draw_6' id='draw_6'></input>
<input type='hidden' name='draw_7' id='draw_7'></input>
<input type='hidden' name='draw_8' id='draw_8'></input>
<input type='hidden' name='draw_9' id='draw_9'></input>
<input type='hidden' name='draw_10' id='draw_10'></input>
<input type='hidden' name='draw_11' id='draw_11'></input>
<input type='hidden' name='draw_12' id='draw_12'></input>
<input type='hidden' name='draw_13' id='draw_13'></input>
<input type='hidden' name='draw_14' id='draw_14'></input>
<input type='hidden' name='draw_15' id='draw_15'></input>
<input type='hidden' name='draw_16' id='draw_16'></input>
<input type='hidden' name='draw_17' id='draw_17'></input>
<input type='hidden' name='draw_18' id='draw_18'></input>
<input type='hidden' name='draw_19' id='draw_19'></input>
<input type='hidden' name='draw_20' id='draw_20'></input>
<input type='hidden' name='current_max_is' id='current_max_is'></input>
<input type='hidden' name='num_draws' id='num_draws'></input>

<button class="otree-btn-next btn btn-danger btn-lg" style="display: block; margin: auto;" type="button" id="draw_button">Draw</button>

    {% next_button %}


{% endblock %}

{% block styles %}
<style>
.left_div {
  margin-right: 5%;
  padding: 10px;
  width: 45%;
  height: 450px;
  /*background: red;*/
  float: left;
  border: 1px solid;
  border-color: #0053a0 ;
  border-radius: 4px;
  text-align: center;
}

.right_div {
  margin-left: 5%;
  padding: 10px;
  width: 45%;
  height: 450px;
  /*background: black;*/
  float: right;
  border: 1px solid;
  border-color: #0053a0 ;
  border-radius: 4px;
  text-align: center;
}
th, td {
  padding: 5px;
}
</style>
{% endblock %}

{% block scripts %}
<script>
function getRndInteger(min, max) {
  return Math.floor(Math.random() * (max - min) ) + min;
}
function getMaxOfArray(numArray) {
  return Math.max.apply(null, numArray);
}

var count = 0;
var draw_btn = document.getElementById("draw_button");
var int_array = [];
document.getElementById('title').innerHTML = 'Sie haben bisher noch kein Angebot erhalten.';
min_bound = js_vars.min;
max_bound = js_vars.max;
document.getElementById('lower').innerHTML = min_bound;
document.getElementById('upper').innerHTML = max_bound;
draw_btn.onclick = function () {
    // Count clicks
    if (count < 20) {
    count++;
    } else {
    console.log('Finito');
    }

    $('#num_draws').val(count);
    document.getElementById('display_num_draws').innerHTML = count;
    // Draw a random number within the specified corridor.
    random_draw = getRndInteger(min_bound, max_bound);
    // get respective variable name
    var input_var="#draw_" + count;
    var display_var="display_" + count;
    // print the number into the resp. field
    document.getElementById(display_var).innerHTML = random_draw;
    // Store it into input field.
    $(input_var).val(random_draw);
    // Change dynamic title
    document.getElementById('title').innerHTML = 'Sie haben ein Angebot über '+random_draw+' erhalten.';
    // Store draw in array and find max and print it too.
    int_array.push(random_draw);
    var current_max = getMaxOfArray(int_array);
    document.getElementById("current_max_is").value = current_max;
    document.getElementById('display_max').innerHTML = current_max;
};
</script>
{% endblock %}
