{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Jetzt beginnt das Experiment, das für Ihre Auszahlung relevant ist.
{% endblock %}

{% block content %}
{% if player.type == 'r1' %}
    <p>Bitte beachten Sie: <br> <br>

    Ihnen wurde die Rolle als <text style="color:green";> GRÜNER </text> Spieler zugeordnet. Das bedeutet: </p>
    <p> Ihre Angebote für eine Suchanfrage werden zwischen 35 und 100 Punkten liegen. <br>
    Die Angebote, die Ihr Partner für eine Angebotsanfrage erhält, werden zwischen 0 und 65 liegen.
    </p>
{% elif player.type == 'r2' %}
    <p>Bitte beachten Sie: <br> <br>

    Ihnen wurde die Rolle als <text style="color:blue";> BLAUER </text> Spieler zugeordnet. Das bedeutet: </p>
    <p> Ihre Angebote für eine Suchanfrage werden zwischen 0 und 65 Punkten liegen. <br>
    Die Angebote, die Ihr Partner für eine Angebotsanfrage erhält, werden zwischen 35 und 100 liegen.
    </p>
{% endif %}

<p> Der Zeitraum, in dem Sie Angebote anfragen können, wird 10 Minuten betragen. <br>
     Klicken Sie auf Weiter, um zu beginnen.</p>
<br>
<br>

    {% next_button %}
{% endblock %}
