{% extends "global/Page.html" %}
{% load otree static %}



{% block content %}
<div class="card-header bg-transparent mainheader" >
 <h3 class="card-title font-weight-bold mt-3 mb-3">Bitte berechnen Sie die Auszahlungen </h3>
  </div>

{% include "global/inst/question2.html" %}

{% formfield player.q3 %}

{% formfield player.q4 %}

<div class="d-flex justify-content-center">
  <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" style="background-color: rgb(175, 175, 175); color: white;">
      Bitte klicken Sie hier, um die Instruktionen zu lesen.
  </button>
</div>

<br>

<div class="collapse" id="collapseExample">

{% include "global/main/collapsed_inst.html" %}
 <br>
                <p><center><img align="middle" width=90%
                        src="{% static "Instructions/diagram/diagram.png" %}"/></center></p> 
                <br>

</div>


    <button class="otree-btn-next btn btn-primary" style="float: right;">Weiter</button>
{% endblock %}
